.container {
    border: 1px solid #A7CB54;
    background-color: #5CAD4A;
    border-radius: 10px;
    width: 180px;
    padding: 10px;
    box-shadow: 0 0 10px #5CAD4A;
}

.image {
    width: 160px;
    border-radius: 10%;
}

.buttonContainer {
    border: 1px;
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    background-color: #FAFD7CFF;
    color: #82491EFF;
    border: 0px;
    border-radius: 50px;

}

.dataContainer {
    text-align: center;
    padding: 10px;
}

.dataContainer h2 {
    margin: 2px;
    font-size: 25px;
    color:#82491EFF;
}

.dataContainer h4 {
    margin: 2px;
    font-size: 20px;
    color:#917C5DFF;
}