.container {
    border: 1px solid rgb(240,225,74);
    background-color: rgb(151,206,76);
    border-radius: 10px;
    width: 180px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.image {
    width: 160px;
    border-radius: 10%;
}

.buttonContainer {
    border: 1px;
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    background-color: rgb(240,225,74);
    color: rgb(218, 247, 0);
    border: 0px;
    border-radius: 50px;

}

.dataContainer {
    text-align: center;
    padding: 10px;
}

.dataContainer h2 {
    margin: 2px;
    font-size: 25px;
    color:rgb(68,40,29);
}

.dataContainer h4 {
    margin: 2px;
    font-size: 20px;
    color:rgb(228,167,136);
}